<!DOCTYPE html>
<html lang='pt'>
  <head>
    <title>Gr. de tarefas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='d-flex h-100 align-items-center justify-content-center row bg'>
      <main class='col-11 col-md-10 col-lg-8 shadow-lg p-5 mb-5 bg-white rounded'>
        <% flash.each do |type, message| %>
          <div class="alert alert-<%= type == 'alert' ? 'danger' : 'success' %> warning alert-dismissible fade show" role="alert">
            <%= message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
          </div>
        <% end %>

          <%= yield %>
      </main>
    </div>
  </body>
</html>
